-- Minkutis shop schema
create table if not exists products (
  id text primary key,
  slug text unique not null,
  name text not null,
  family text not null,
  price_eur numeric not null,
  stock_count int default 0,
  status text default 'active',
  data jsonb,
  created_at timestamptz default now()
);

create table if not exists orders (
  id uuid primary key default gen_random_uuid(),
  stripe_session_id text unique,
  email text,
  total_eur numeric,
  items_json jsonb,
  status text default 'pending',
  created_at timestamptz default now()
);

create table if not exists waitlist (
  id uuid primary key default gen_random_uuid(),
  email text not null,
  product_id text,
  created_at timestamptz default now(),
  notified_at timestamptz
);
